*{
    background-color: cadetblue;
}

h1{
    text-align: center;
}

img{
    width: 300px;
    float: none; 
    margin:20px;
}

.wrapper{
    margin: 100px;
    float: left; /*Har kan du testa genom att byta ut till left,right,none eller inherit för att se vad som händer med bilden*/
    }

